<footer class="bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="mb-3">{{ name }}</h5>
        <p class="text-light opacity-75">
          Front-End Developer passionate about creating beautiful and functional web experiences.
        </p>
      </div>
      
      <div class="col-md-4 mb-4 mb-md-0">
        <h5 class="mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li *ngFor="let link of quickLinks" class="mb-2">
            <a href=" {{ link.path }}" class="text-light text-decoration-none"> 
              {{ link.label }}
            </a>
          </li>
        </ul>
      </div>
      
      <div class="col-md-4">
        <h5 class="mb-3">Connect With Me</h5>
        <div class="d-flex gap-3">
          <a *ngFor="let social of socialLinks" 
             [href]="social.url" 
             target="_blank"
             class="btn btn-outline-light btn-sm"
             [attr.aria-label]="social.platform">
            <i [class]="social.icon"></i>
          </a>
        </div>
      </div>
    </div>
    
    <hr class="my-4 bg-secondary">
    
    <div class="text-center text-light opacity-75">
      <p class="mb-0">
        &copy; {{ currentYear }} {{ name }}. Built with Angular & Bootstrap. All rights reserved.
      </p>
    </div>
  </div>
</footer>